{% extends "layout/default.twig" %}

{% block content %}
<div class="recherche">
    <input type="text" name="" id="search_button" onchange="search()">
    <button onclick="search()"><i class="fas fa-search"></i></button>
</div>
<section class="row">
    {% for post in posts %}
    {{ include('post/card.twig') }}
    {% endfor %}
</section>
{{ paginate | raw }}
{% endblock %}
