{% extends "layout/default.twig" %}

{% block content %}
    <section class="login-container">
       <div>
            <h2>Inscription</h2>
            </header>
            <form action="" method="Post">

                <input type="text" name="username" placeholder="*Nom" required>
                <input type="text" name="prenom" placeholder="*Prénom">
                <input type="email" name="email" placeholder="*E-mail" required>

                <button type="submit">S'inscrire</button>
                <label class="danger" hidden>ERREUR !</label>
            </form>
        </div>
    </section>
{% endblock %}

