<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/reset.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <title>BlogIsa</title>
</head>

<body>
    <header class="menu">
        <input type="checkbox" class="burger">
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/categories">Habitat</a></li>
                <li><a href="/identification">Identification</a></li>
                <li><a href="/inscription">Inscription</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section class="wrapper">
        <h1 class="titre">Derrière chez moi...il y a...</h1>
        {% block content %}
        {% endblock %}
    </section>

    <footer>
        <p>
            <a href="http://www.oiseau-libre.net/Oiseaux/" alt="source"><span>source</span></a>
        </p>
        <p><a href="#top" class="top-Home" alt="top">TOP</a></p>
        <a href="https://github.com/isabu77/0027_BlogIsa" alt="By Isa"><span class="text-white">By Isa in {{debugTime}} ms</span></a>
    </footer>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../assets/js/script.js"></script>
</body>

</html>